#MainPane{
    -fx-background-color:#404040;
}



#DrinkName{
    -fx-font-family: Lato, Arial, serif;
    -fx-font-size:14;
    -fx-pref-height:70;
    -fx-pref-width: 200;
    -fx-alignment:center;
    -fx-text-fill: #5bd457;
    -fx-wrap-text:true;
    -fx-text-alignment:center;
}

.toggle-button{
    -fx-pref-height:60;
    -fx-background-color:#404040;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-font-family: Helvetica, Arial, serif;
    -fx-font-size:14;
}

.toggle-button:selected{
    -fx-text-fill:  #5bd457;
    -fx-border-color:#5bd457;
  -fx-border-style: solid none solid none;
    -fx-border-width: 2;

}




.drink-settings-label{
    -fx-font-family: Lato, Arial, serif;
    -fx-background-color:#5bd457;
    -fx-pref-height:30;
    -fx-pref-width:300;
    -fx-alignment:center;
    -fx-text-fill:#404040;
}

#addonlabel{
    -fx-pref-width:800;
}

#AddToCartBtnContainer{
    -fx-padding:5;
}

#AddToCartBtn{
    -fx-font-family: Lato, Arial, serif;
    -fx-border-radius:30;
    -fx-background-radius:30;
    -fx-background-color:#5bd457;
    -fx-pref-width:100;
    -fx-pref-height:30;
}